.title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 50px;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.windows__params {
  display: flex;
  flex-direction: column;
}

.params {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 800;
}

.size {
  display: flex;
  margin-bottom: 20px;
}

.profile {
  width: 150px;
  margin-bottom: 20px;
}

.glazed {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
}

.radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.window {
  display: flex;
}

.example_1 {
  width: 160px;
  height: 320px;
  border: 2px solid grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.example_2 {
  width: 160px;
  height: 320px;
  border: 2px solid grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  opacity: 0;
}

.example_3 {
  width: 160px;
  height: 320px;
  border: 2px solid grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.triangle_up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 320px 80px;
  border-color: transparent transparent #e0e0e0 transparent;
}

.triangle_right {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 0 160px 160px;
  border-color: transparent transparent transparent rgba(197, 197, 197, 0.5);
  top: 0;
}

.alert {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: tomato;
  margin-top: 10px;
  opacity: 0;
}

.alert2 {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: tomato;
  opacity: 0;
}

.active {
  opacity: 1;
}
